/*NAVIGATION BAR GENERAL DESIGN -----------------------------------------------------------------*/
.navbar{
    padding: 0;
    overflow: hidden;
    background-color: #0e1e35;
    width: 100vw;
    vertical-align:middle;
    position: fixed;
}

.navbar-content{
    display: flex;
    margin: 0.625em 2.5em 0.625em 2.5em;
    justify-content:space-evenly;
}

.navbar-content-landinglink{
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-content-rightlinks{
    display: flex;
    font-weight: bold;
    justify-content: right;
    width: 100%;
    align-items: center;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}

/*NAVIGATION BAR BUTTON DESIGNS -----------------------------------------------------------------*/

.login-button{
    border: 1px solid rgba(255, 255, 255, .2);
    padding: 0.563em 1.563em 0.563em 1.563em;
    border-radius: 4px;
}

.login-button:hover{
    border: 1px solid rgba(255, 255, 255, 1);
}

.register-button{
    border-radius: 4px;
    background-color: #4675C0;
    padding: 0.563em 1.563em 0.563em 1.563em;
    border: 1px solid rgba(255, 255, 255, .2);
    margin-left: 1em;
}

.register-button:hover{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}